<% layout('layouts/boilerplate') %>

<div class="row mt-4">
    <div class="alert alert-danger col-6 offset-3 d-flex align-items-center justify-content-center" role="alert" style="min-height: 200px;">
        <h4 class="alert-heading"><%= message %></h4>
    </div>
</div>
